body {
  font-family: "Indie Flower", cursive;
}

form {
  margin-top: 10px;
}
.submit {
  background: rgb(222, 248, 226) !important;
}
.temperature {
  font-size: 40px;
}

.container {
  border-radius: 6px;
  background-color: #fff;
  padding: 12px;
  color: #f19977;
  margin-top: 30px;
}
